{% extends 'blog/base.html' %}
{% block content %}

<div class="features">
    <h2>{{ post.title }}</h2><br>
    <small>Author: {{ post.author }}</small>
    <p>{{ post.body }}</p><br>
    <p>By {{ post.author }} on {{ post.publish }}</p>
    <p>Comments</p>
    <hr>
    <div>
        {% if comments %}
            {% for comment in comments %}
                <li>
                    <time>Date of creation: {{ comment.create_date }}</time><br>
                    Author comment: {{ comment.author }}<br>
                    {{ comment.text }}<br><br>
                </li>
            {% endfor %}
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div>
    <form id="add_form" method="post">{% csrf_token %}
        {{ form.as_p }}
    </form>
    <button form="add_form" type="submit" class="btn btn-primary">Add</button>
    </div>
    {% endif %}
</div>

{%endblock%}